/node_modules
/public/hot
/public/storage
/public/uploads
/public/packages
/public/css
/public/js
/storage/*.key
/vendor
/resources/views/errors
/resources/views/vendor
composer.lock
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
